body{
    background: rgb(9,9,121);
    background: linear-gradient(0deg, rgba(9,9,121,1) 51%, rgba(0,212,255,1) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat; }
  /* }p{ 
     font-size: 50px;
    color: rgb(226, 43, 73);
}
.artist{
    text-align: center
 
}
.language{
    text-align: center
}
.song-title{
    text-align: center
}

.artist-label{
    font-size: 50px;
    color:rgb(226, 43, 73);
}
.title-label{
    font-size: 50px;
    color: rgb(226, 43, 73);
}
.language-label{
    font-size: 50px;
    color: rgb(226, 43, 73);
}
.input-artist-field{
    width:500px;
    height:30px;
}
.input-song-field{
    width:500px;
    height:30px;
}
.select-dropdown{
    width:500px;
    height:-100px;
}
.latin-american{
    font-size: 30px;
}
.american{
    font-size: 30px;
}
.france{
    font-size: 30px;
}
.germany{
    font-size: 30px;
}
.submit-button{
    font-weight: bold;
    font-size: 50px;
    height:50px;  
    color: rgb(226, 43, 73); 
    height: 1000px;
    padding: 20px;
    margin-left: 30px;
    background: white;
    border: 1px solid black;
  }
  h1{  

  }
  .c-fixed{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 80px;
    height:50px;
}
.c-absolute{
      position: absolute;
    bottom: 0;
    right: 200px;
    width: -100%;
    height: 600px;
}
.bio-image{
    height: 150px;
    width: 100%;
} */

h1 {
    /* margin: 0;
    padding: 0;
  } */ */
  .logo {
    font-size: 2.4rem;
  }
  header{

    background-color: #537EFF;
  }
 